name: Deploy to EC2

on:
  push:
    branches:
      - main  # Adjust this to your main branch name

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'  # Use a Node.js version compatible with Strapi

      - name: Install dependencies
        run: npm install

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # Define project directory on the EC2 instance
            PROJECT_DIR="/home/ubuntu/Project"

            # Remove existing project directory to avoid conflicts
            if [ -d "$PROJECT_DIR" ]; then
              sudo rm -rf "$PROJECT_DIR"
            fi

            # Clone the repository
            git clone https://github.com/Zenisis/cms-strapi.git "$PROJECT_DIR"

            # Change to the project directory
            cd "$PROJECT_DIR"

            # Install dependencies
            npm install

            # Build the project (if needed)
            npm run build

            # Start or restart the application using PM2
            pm2 restart ecosystem.config.js --env production || pm2 start ecosystem.config.js --env production

            # Save PM2 process list
            pm2 save
